In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.shape

(32561, 15)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [8]:
df['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

In [9]:
race_count = df['race'].value_counts()

In [10]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [11]:
df['sex'] == 'Male'

0         True
1         True
2         True
3         True
4        False
         ...
32556    False
32557     True
32558    False
32559     True
32560    False
Name: sex, Length: 32561, dtype: bool

In [12]:
df[df['sex'] == 'Male']['age']

0        39
1        50
2        38
3        53
7        52
         ..
32553    32
32554    53
32555    22
32557    40
32559    22
Name: age, Length: 21790, dtype: int64

In [13]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

In [14]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

In [15]:
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(),1)

In [16]:
average_age_men

39.4

### What is the percentage of people who have a Bachelor's degree?

In [17]:
df['education'] == 'Bachelors'

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [18]:
df[df['education'] == 'Bachelors'].count()

age               5355
workclass         5355
fnlwgt            5355
education         5355
education-num     5355
marital-status    5355
occupation        5355
relationship      5355
race              5355
sex               5355
capital-gain      5355
capital-loss      5355
hours-per-week    5355
native-country    5355
salary            5355
dtype: int64

In [19]:
df.loc[df['education'] == 'Bachelors','education']

0        Bachelors
1        Bachelors
4        Bachelors
9        Bachelors
11       Bachelors
           ...
32530    Bachelors
32531    Bachelors
32533    Bachelors
32536    Bachelors
32538    Bachelors
Name: education, Length: 5355, dtype: object

In [20]:
df[df['education'] == 'Bachelors']['education'].count()

5355

In [21]:
df.shape[0]

32561

In [22]:
df[df['education'] == 'Bachelors']['education'].count()/df.shape[0]

0.16446055096587942

In [23]:
df[df['education'] == 'Bachelors']['education'].count()/df.shape[0] * 100

16.44605509658794

In [24]:
percentage_bachelors = round((df[df['education'] == 'Bachelors']['education'].count() / df.shape[0])* 100, 1)

In [25]:
percentage_bachelors

16.4

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [26]:
df['education'].isin(['Bachelors','Masters','Doctorate'])

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [27]:
df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].count()

age               7491
workclass         7491
fnlwgt            7491
education         7491
education-num     7491
marital-status    7491
occupation        7491
relationship      7491
race              7491
sex               7491
capital-gain      7491
capital-loss      7491
hours-per-week    7491
native-country    7491
salary            7491
dtype: int64

In [28]:
df[df['education'].isin(['Bachelors','Masters','Doctorate'])].count()

age               7491
workclass         7491
fnlwgt            7491
education         7491
education-num     7491
marital-status    7491
occupation        7491
relationship      7491
race              7491
sex               7491
capital-gain      7491
capital-loss      7491
hours-per-week    7491
native-country    7491
salary            7491
dtype: int64

In [29]:
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [30]:
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [31]:
(higher_education['salary'] == '>50K')

0        False
1        False
4        False
5        False
8         True
         ...
32538     True
32539     True
32544    False
32553    False
32554     True
Name: salary, Length: 7491, dtype: bool

In [32]:
higher_education[higher_education['salary'] == '>50K']['salary'].count()

3486

In [33]:
higher_education.shape[0]

7491

In [34]:
higher_education[higher_education['salary'] == '>50K']['salary'].count()/higher_education.shape[0]

0.46535843011613937

In [35]:
higher_education[higher_education['salary'] == '>50K']['salary'].count()/higher_education.shape[0] * 100

46.535843011613935

In [36]:
higher_education_rich = round(higher_education[higher_education['salary'] == '>50K']['salary'].count() / higher_education.shape[0] * 100, 1)

In [37]:
higher_education_rich

46.5

### What percentage of people without advanced education make more than 50K?

In [38]:
~ df['education'].isin(['Bachelors','Masters','Doctorate'])

0        False
1        False
2         True
3         True
4        False
         ...
32556     True
32557     True
32558     True
32559     True
32560     True
Name: education, Length: 32561, dtype: bool

In [39]:
df[~ df['education'].isin(['Bachelors','Masters','Doctorate'])].count()

age               25070
workclass         25070
fnlwgt            25070
education         25070
education-num     25070
marital-status    25070
occupation        25070
relationship      25070
race              25070
sex               25070
capital-gain      25070
capital-loss      25070
hours-per-week    25070
native-country    25070
salary            25070
dtype: int64

In [40]:
lower_education = df[~ df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [41]:
lower_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [42]:
(lower_education['salary'] == '>50K')

2        False
3        False
6        False
7         True
10        True
         ...
32556    False
32557     True
32558    False
32559    False
32560     True
Name: salary, Length: 25070, dtype: bool

In [43]:
lower_education[lower_education['salary'] == '>50K']['salary'].count()

4355

In [44]:
lower_education.shape[0]

25070

In [45]:
lower_education[lower_education['salary'] == '>50K']['salary'].count()/lower_education.shape[0] * 100

17.3713601914639

In [46]:
lower_education_rich = round(lower_education[lower_education['salary'] == '>50K']['salary'].count()/lower_education.shape[0] * 100,1)

In [47]:
lower_education_rich

17.4

### What is the minimum number of hours a person works per week?

In [48]:
df['hours-per-week']

0        40
1        13
2        40
3        40
4        40
         ..
32556    38
32557    40
32558    40
32559    20
32560    40
Name: hours-per-week, Length: 32561, dtype: int64

In [49]:
df['hours-per-week'].min()

1

In [50]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [51]:
(df['hours-per-week']== min_work_hours)

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: hours-per-week, Length: 32561, dtype: bool

In [52]:
df[df['hours-per-week']== min_work_hours]['hours-per-week'].count()

20

In [53]:
num_min_workers =  df[df['hours-per-week']== min_work_hours] ['hours-per-week'].count()

In [54]:
df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0]

2

In [55]:
df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0]/num_min_workers

0.1

In [56]:
rich_percentage = round(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0] / num_min_workers * 100, 1)

In [57]:
rich_percentage

10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [58]:
df['salary'] == '>50k'

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: salary, Length: 32561, dtype: bool

In [59]:
df['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [60]:
df[df['salary'] == '>50K']['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [61]:
df.loc[df['salary'] == '>50K','native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [62]:
df.loc[df['salary'] == '>50K','native-country'].value_counts()/df['native-country'].value_counts() * 100

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [63]:
(df.loc[df['salary'] == '>50K','native-country'].value_counts()/df['native-country'].value_counts() * 100).sort_values(ascending = False)

Iran                          41.860465
France                        41.379310
India                         40.000000
Taiwan                        39.215686
Japan                         38.709677
Yugoslavia                    37.500000
Cambodia                      36.842105
Italy                         34.246575
England                       33.333333
Canada                        32.231405
Germany                       32.116788
Philippines                   30.808081
Hong                          30.000000
Greece                        27.586207
China                         26.666667
Cuba                          26.315789
?                             25.042882
Scotland                      25.000000
United-States                 24.583476
Hungary                       23.076923
Ireland                       20.833333
South                         20.000000
Poland                        20.000000
Thailand                      16.666667
Ecuador                       14.285714
Jamaica                       12.345679
Laos                          11.111111
Portugal                      10.810811
Puerto-Rico                   10.526316
Trinadad&Tobago               10.526316
Haiti                          9.090909
El-Salvador                    8.490566
Honduras                       7.692308
Vietnam                        7.462687
Peru                           6.451613
Nicaragua                      5.882353
Mexico                         5.132193
Guatemala                      4.687500
Columbia                       3.389831
Dominican-Republic             2.857143
Holand-Netherlands                  NaN
Outlying-US(Guam-USVI-etc)          NaN
Name: native-country, dtype: float64

In [64]:
 (df.loc[df['salary'] == '>50K','native-country'].value_counts()/ df['native-country'].value_counts() * 100).sort_values(ascending=False).idxmax()

'Iran'

In [65]:
highest_earning_country = (df.loc[df['salary'] == '>50K','native-country'].value_counts()/ df['native-country'].value_counts() * 100).sort_values(ascending=False).idxmax()

In [66]:
highest_earning_country

'Iran'

##### "IRAN" HAS has the highest percentage of people that earn >50K

In [67]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'Iran')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
237,41,Private,180138,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Iran,>50K
1387,40,Self-emp-not-inc,266324,Some-college,10,Divorced,Exec-managerial,Other-relative,White,Male,0,1564,70,Iran,>50K
2652,34,Private,213226,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
3389,51,Private,293196,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,60,Iran,>50K
3390,45,Private,214627,Doctorate,16,Widowed,Prof-specialty,Unmarried,White,Male,15020,0,40,Iran,>50K
4145,36,Private,95654,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,Iran,>50K
4433,52,State-gov,149650,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
6295,40,Self-emp-inc,157240,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,30,Iran,>50K
9826,33,Private,181091,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,60,Iran,>50K
9945,63,Private,213945,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15024,0,40,Iran,>50K
13961,35,Private,202950,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,Iran,>50K
20243,37,Private,109133,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,27828,0,60,Iran,>50K
25172,47,Self-emp-not-inc,190072,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Iran,>50K
25646,36,Private,52327,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Other,Male,0,0,40,Iran,>50K
26545,32,Self-emp-inc,124919,Bachelors,13,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,0,50,Iran,>50K
26570,47,Private,192793,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
31003,35,Private,267866,HS-grad,9,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,1887,50,Iran,>50K

In [68]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'Iran')].count()

age               18
workclass         18
fnlwgt            18
education         18
education-num     18
marital-status    18
occupation        18
relationship      18
race              18
sex               18
capital-gain      18
capital-loss      18
hours-per-week    18
native-country    18
salary            18
dtype: int64

In [69]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'Iran')]['native-country'].count()

18

In [70]:
df[df['native-country'] == "Iran"]['native-country'].count()

43

In [71]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'Iran')]['native-country'].count()/df[df['native-country'] == "Iran"]['native-country'].count() * 100

41.86046511627907

In [72]:
highest_earning_country_percentage = round(df[(df['salary'] == '>50K') & (df['native-country'] == highest_earning_country)]['native-country'].count() / (df[df['native-country'] == highest_earning_country]['native-country']).count() * 100,1)

In [73]:
highest_earning_country_percentage

41.9

### Identify the most popular occupation for those who earn >50K in India.

In [74]:
df[df['native-country'] == 'India']['occupation']

11        Prof-specialty
892         Adm-clerical
968      Exec-managerial
1029               Sales
1095      Prof-specialty
              ...
30152     Prof-specialty
30833       Adm-clerical
30871     Prof-specialty
31327     Prof-specialty
31357     Prof-specialty
Name: occupation, Length: 100, dtype: object

In [75]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().sort_values()

Transport-moving     1
Sales                1
Adm-clerical         1
Other-service        2
Tech-support         2
Exec-managerial      8
Prof-specialty      25
Name: occupation, dtype: int64

In [76]:
df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'),'occupation'].value_counts().sort_values(ascending = False)

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [77]:
top_IN_occupation = df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'),'occupation'].value_counts().sort_values(ascending = False).idxmax()

In [78]:
top_IN_occupation

'Prof-specialty'

## Summary

In [79]:
race_count = df['race'].value_counts()

average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(),1)

percentage_bachelors = round((df[df['education'] == 'Bachelors']['education'].count() / df.shape[0])* 100, 1)

higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]

higher_education_rich = round(higher_education[higher_education['salary'] == '>50K']['salary'].count() / higher_education.shape[0] * 100, 1)

lower_education = df[~ df['education'].isin(['Bachelors','Masters','Doctorate'])]

lower_education_rich = round(lower_education[lower_education['salary'] == '>50K']['salary'].count()/lower_education.shape[0] * 100,1)

min_work_hours = df['hours-per-week'].min()

num_min_workers =  df[df['hours-per-week'] == min_work_hours] ['hours-per-week'].count()

rich_percentage = round(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0] / num_min_workers * 100, 1)

highest_earning_country = (df.loc[df['salary'] == '>50K','native-country'].value_counts()/ df['native-country'].value_counts() * 100).sort_values(ascending=False).idxmax()

highest_earning_country_percentage = round(df[(df['salary'] == '>50K') & (df['native-country'] == highest_earning_country)]['native-country'].count() / (df[df['native-country'] == highest_earning_country]['native-country']).count() * 100,1)

top_IN_occupation = df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'),'occupation'].value_counts().sort_values(ascending = False).idxmax()

In [80]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty